body, html{
	overflow: disabled;
	height:100%;

	padding: 0;
	margin: 0;

	background: none;

	display: flex;
	flex-direction: column;
}
#icon {
	float:left;
	height: 20px;
	padding: 6px;
	margin: 4px;
}
#titlebar, #titlebar-btns {
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}
#apptop {
	display: flex;
	flex-direction: column;
}
#titlebar {
	width: 100%;
	height:auto;
	display: inline-block;
	background-color: rgb(225, 229, 233);
	user-select: none;
	-webkit-app-region: drag;
}
#navigator {
	display: flex;
	flex-direction: row;
	-webkit-app-region: no-drag;
	background-color: white;
}
#searchbar {
	overflow: hidden;
	margin: 8px;
	padding: 6px;
	border: none;
	border-radius: 20px;
	padding-left: 8px;
	padding-right: right;
	background-color: rgb(237, 240, 241);
	font-family: Tahoma, Geneva, sans-serif;
}
#searchbar:focus {
	outline: none;
}
#content {
	overflow-y: auto;
	background-color: white;
	height: calc(100% - 87px);
}
webview {
	width: 100%;
	height: 100%;
}
.basicbrowserbutton {
	padding: 8px;
	margin: 4px;

	outline: none;
	border: none;
	border-radius: 10px;
	background: none;

	-webkit-app-region: no-drag;
}
#newtab-btn {
	float:left;
	padding-top: 10px;
}
#back-btn {
	margin-right: 0;
	padding-right: 4px;
}
#forward-btn {
	margin-left: 0;
	padding-left: 4px;
}
#forward-btn img, #back-btn img {
	width: 20px;
}
.basicbrowserbutton:hover {
	background-color: lightgrey;
}
.basicbrowserbutton img {
	height: 16px;
	width: 16px;
}
.tab {
	font-family: Tahoma, Geneva, sans-serif;
	float:left;
	height: 32px;
	padding-bottom: 7px;
	padding-top: 3px;
	margin:0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: rgb(225, 229, 233);
	font-size: 13px;

	-webkit-app-region: no-drag;
}
.tab p {
	padding: 0 10px;
}
.tab-current {
	background-color: white !important;
}


#titlebar-btns {
	padding:10px;
	float: right;
	-webkit-app-region: no-drag;
}
#titlebar-btns button {
	width: 20px;
	height: 20px;
	outline: none;
	border: none;

	padding: 3px;
	margin: 0;

	border-radius: 50%;

}
#titlebar-btns button img {
	float:center;

	height:12px;
	width:12px;

	visibility: hidden;
	opacity: 0.5;
}
#titlebar-btns button:hover img {
	visibility: visible;
}

#min-btn {
	background-color: yellow;
}
#max-btn {
	background-color: lightgreen;
}
#close-btn {
	background-color: lightcoral;
} 